<h1>Edit topping</h1>
<div class="item-data-container">
  <%= link_to toppings_path do %>
    <div class="entry back">Back to Toppings</div>
  <% end %>
  <div class="item-form-img">
    <%= image_tag "pie.png" %>
  </div>
  <div class="item-data">
    <%= render "form", topping: @topping %>
  </div>
</div>