<% add_new_button = link_to new_topping_path do %>
  <div class="entry add-new">
    <span>+ Add a Topping</span>
  </div>
<% end %>

<%= render "shared/nav", locals: { selected: "toppings", extra_element: add_new_button } %>
<h2>Le Toppings</h2>
<div class="items">
  <% @toppings.each do |topping| %>
    <% content = "#{topping.calories} calories / serving" %>
    <%= render "shared/item", locals: { resource: topping, content: content } %>
  <% end %>
</div>