<div class="pizza-profile scrollable" id="<%= dom_id pizza %>">
  <h1><%=pizza.name %></h1>
  <% if pizza.toppings.any? %>
    <h4>Toppings on this Pizza</h4>
    <div style="display:flex; flex-flow:row wrap; justify-content:center">
      <% pizza.toppings.each do |topping| %>
        <span class="entry topping">
        <%= link_to(topping.name, topping_path(topping.id)) %>
        </span>
      <% end %>
    </div>
  <% else %>
    <h4>This Pizza has no toppings. So sad :'(</h4>
  <% end %>

  <div>
    <h4> Pizza Total Calories: <%= pizza.calories %></h4>
  </div>
</div>
