<h1>Editing pizza</h1>
<div class="item-data-container">
  <%= link_to pizzas_path do %>
    <div class="entry back">Back to Pizzas</div>
  <% end %>
  <div class="item-form-img pizzafy"></div>
  <div class="item-data">
    <%= render "form", pizza: @pizza %>
    <br>
    <div>
      Don't see your topping? <%= link_to "Create a new topping", new_topping_path %>
    </div>
  </div>
</div>