<h1>New pizza</h1>
<div class="item-data-container">
  <%= link_to pizzas_path do %>
    <div class="entry back">Back to Pizzas</div>
  <% end %>
  <div class="item-form-img pizzafy">
    <%= image_tag "pie.png" %>
  </div>
  <div class="item-data">
    <%= render "form", pizza: @pizza %>
  </div>
</div>