<div class="banner">
  <h1>Le Pizza Pilot</h1>
  <span class="pizza-href">
    <%= link_to "pizzas", pizzas_path %>
  </span>
  <span class="toppings-href">
    <%= link_to "toppings", toppings_path %>
  </span>
</div>